<div class="text-layout">
    <h1>DecimalPipe y Porcentajes</h1>
    <p>

        Pipes incluídos en Angular - Usualmente en el Common Module.

    </p>
</div>


<div class="grid">

    <div class="col-12 md:col-6 lg:col-4 xl:col-4">
        <p-card header="Ventas Netas"
                subheader="del presente año">
                <ul>
                    <li>
                        {{ventasNetas | number:'1.2-2'}}
                    </li>
                </ul>
                
                <ul>
                    <li>
                        {{ventasNetas }}
                    </li>
                </ul>
        </p-card>
    </div>

    <div class="col-12 md:col-6 lg:col-4 xl:col-4">
        <p-card header="Ventas Brutas"
                subheader="del presente año">
                <ul>
                    <li>
                        {{ (ventasNetas + 2000000 )| currency:'CAD':'symbol-narrow':'1.4-4' }}
                    </li>
                </ul>
                
                <ul>
                    <li>
                        {{(ventasNetas + 2000000 ) }}
                    </li>
                </ul>
        </p-card>
    </div>

    <div class="col-12 md:col-6 lg:col-4 xl:col-4">
        <p-card header="Ganancia porcentual"
                subheader="del presente año">
                <ul>
                    <li>
                        {{ porcentaje | percent:'1.2-2' }}
                    </li>
                </ul>
                
                <ul>
                    <li>
                        {{(ventasNetas + 2000000 ) }}
                    </li>
                </ul>
        </p-card>
    </div>


</div>


