<div class="text-layout" >
    <h1>{{ 'Pipes personalizados'|mayusculas: mayus }}</h1>
    <p>Pipes creados por Sergio, con ayuda de Fernando Herrera</p>
    
    
</div>



<p-toolbar>
    <div class="p-toolbar-group-left">
        
    </div>
    
    <div class=" col-12">

        <button 
            pButton
            label="{{ tipoLetra }}" 
            (click)="cambio()"
            class="mr-1 p-button-warning col-12 sm:col-2" 
            
        ></button>


        <button 
        type="button"
            pButton
            icon ="pi pi-sort"
            label="Nombre"
            class="mr-1 col-12 sm:col-2"
            (click)="cambiarOrden('nombre')"
        ></button>


        <button 
        type="button"
            pButton
            icon ="pi pi-sort"
            label="Vuela"
            class="p-button-success mr-1 col-12 sm:col-2"
            (click)="cambiarOrden( 'vuela' )"
        ></button>

        <button 
        type="button"
            pButton
            icon ="pi pi-sort"
            label="color"
            class="p-button-help mr-1 col-12 sm:col-2"
            (click)="cambiarOrden( 'color' )"
        ></button>


    </div>
</p-toolbar>


<div class="grid mt-2">
    <div class="col">

        <p-table [value]="heroes | ordenar: orden ">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Vuela</th>
                    <th>Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr  >
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.vuela | vuela }}</td>
                    <td>{{heroe.color}}</td>
                </tr>
            </ng-template>
        </p-table>



    </div>
</div>




<div class="card text-layout">
    <h2>Tabla de heroes</h2>

    <p-table [value]="heroes | slice:0" sortMode="multiple">
        
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th pSortableColumn="vuela">Vuela <p-sortIcon field="vuela"></p-sortIcon></th>
                <th pSortableColumn="color">Color <p-sortIcon field="color"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-heroe>
            <tr>
                <td>{{heroe.nombre}}</td>
                <td>{{heroe.vuela }}</td>
                <td>{{heroe.color}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
